/* general */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.x {
    color: white;
    font-size: 2em;
    margin: 10px 0;
}

.h1 {
    font-size: 2em;
    margin: 30px 0;
    padding-top: 20px;
}

.txt-center {
    text-align: center;
}


/* todo list */

form {
    min-height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
}

form input {
    padding: 0.5rem;
    font-size: 2rem;
    border-color: #274574;
}

.form {
    padding: 50px;
}

form button {
    padding: 0.5rem;
    font-size: 2rem;
    border: none;
}

.my-todo {
    background-image: linear-gradient(-225deg, #7DE2FC 0%, #B9B6E5 100%);
    min-height: 60vh;
    font-family: 'Montserrat', sans-serif;
}

form {
    min-height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

form input,
form button {
    padding: 0.5rem;
    font-size: 2rem;
    border: none;
    background-color: white;
}

form button {
    color: black;
    background: white;
    cursor: pointer;
    transition: all 0.3s ease;
}

form button:hover {
    background: black;
    color: white;
}

.todo-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.todo-list {
    min-width: 30%;
    list-style: none;
}

.todo {
    margin: 0.5rem;
    background: white;
    color: black;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.5s ease;
}

.todo li {
    flex: 1;
}

.trash-btn,
.complete-btn {
    background: #ff6f47;
    color: white;
    border: none;
    padding: 1rem;
    cursor: pointer;
    font-size: 1rem;
}

.complete-btn {
    background: rgb(73, 204, 73);
}

.todo-item {
    padding: 0rem 0.5rem;
}

.fa-trash,
.fa-check {
    pointer-events: none;
}

.completed {
    text-decoration: line-through;
    opacity: 0.5;
}

.fall {
    transform: translateY(8rem) rotateZ(20deg);
    opacity: 0;
}


/* weather */

.weather {
    min-height: 25vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.weather h1 {
    font-size: 1.5rem;
}

.weather input {
    padding: 0.5rem;
    font-size: 2rem;
}

.weather button {
    background: white;
    padding: 0.5rem;
    font-size: 1rem;
    border: none;
}

.content {
    background: white;
}

.output {
    margin-top: 10px;
    margin-bottom: 50px;
    padding: 15px;
    font-size: 1.2rem;
    margin-left: auto;
    margin-right: auto;
    width: 17em;
    font-family: 'Montserrat', sans-serif;
    border-radius: 5px;
    box-shadow: 0px 5px 20px #274574;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background: #F4F4F4;
}

.output p {
    padding: 5px;
}

.weather button {
    margin-left: auto;
    margin-right: auto;
    font-size: 1rem;
    background-color: #272727;
    color: white;
    margin: 10px;
    font-family: 'Montserrat', sans-serif;
}

.weather button:hover {
    font-size: 1.2rem;
}