/* general */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

a {
    color: inherit;
    text-decoration: inherit;
}

.spacedown {
    padding-bottom: 20px;
}

.spaceup {
    padding-top: 40px;
}


/* navigation */

.anavbar {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    padding: 15px 20px;
    align-items: center;
    min-height: 8vh;
    justify-content: space-between;
    z-index: 9999;
    color: white;
}

.anavbar.sticky {
    border: none;
    background-color: #116DB6;
}

.logo {
    letter-spacing: 2px;
    font-weight: bold;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
}

.anav-links {
    display: flex;
    justify-content: space-around;
    width: 50%;
}

.anav-links li {
    list-style: none;
}

.anav-links a {
    color: white;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 14px;
}

.anav-links a:hover {
    color: #b6c1f5;
}

.burger {
    display: none;
}

.burger div {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 5px;
    transition: all 0.3s ease;
}

@media screen and (max-width: 1024px) {
    .anav-links {
        width: 60%;
    }
}

@media screen and (max-width: 1000px) {
    body {
        overflow-x: hidden;
    }
    .anav-links {
        position: fixed;
        right: 0px;
        height: 92vh;
        top: 8vh;
        background-color: #116DB6;
        color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }
    .anav-links li {
        opacity: 0;
    }
    .burger {
        display: block;
        cursor: pointer;
    }
}

.anav-active {
    transform: translateX(0%);
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
}


/* home */

.home {
    display: flex;
    background: url("images/banner1.png") no-repeat center;
    height: 100vh;
    color: white;
    min-height: 500px;
    background-size: cover;
    background-attachment: fixed;
    justify-content: center;
    align-items: center;
}

.home .home-content .text-2 {
    font-size: 85px;
    font-weight: 600;
    font-family: 'Great Vibes', cursive;
    justify-content: center;
    align-items: center;
    display: flex;
}

.home .home-content .text-3 {
    font-size: 30px;
    letter-spacing: 2.5px;
    text-align: center;
}

.home .home-content form {
    background: #0e1227;
    color: #fff;
    font-size: 25px;
    padding: 12px 36px;
}

.home .home-content form:hover {
    color: white;
    border: 3px solid white;
    background: none;
}

@media (max-width: 947px) {
    .home .home-content .text-2 {
        font-size: 70px;
    }
    .home .home-content .text-3 {
        font-size: 35px;
    }
    .home .home-content a {
        font-size: 23px;
    }
}

@media (max-width: 947px) {
    .home .home-content .text-2 {
        font-size: 70px;
    }
    .home .home-content .text-3 {
        font-size: 35px;
    }
    .home .home-content a {
        font-size: 23px;
        padding: 10px 30px;
    }
}

@media (max-width: 690px) {
    .max-width {
        padding: 0 23px;
    }
    .home .home-content .text-2 {
        font-size: 60px;
    }
    .home .home-content .text-3 {
        font-size: 32px;
    }
    .home .home-content a {
        font-size: 20px;
    }
}


/* home button */

.text-box {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn:link,
.btn:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 15px 40px;
    display: inline-block;
    border-radius: 100px;
    transition: all 0.2s;
    position: absolute;
}

.btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.btn:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btn-white {
    background-color: #f26600;
    color: white;
}

.btn::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 0.4s;
}

.btn-white::after {
    background-color: #f26600;
}

.btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}

.btn-animated {
    -webkit-animation: moveInBottom 5s ease-out;
    animation: moveInBottom 5s ease-out;
    -webkit-animation-fill-mode: backwards;
    animation-fill-mode: backwards;
}

@-webkit-keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}


/* intro */

.container {
    padding-left: 10px;
    padding-right: 10px;
    margin: auto;
    line-height: 1.75;
    min-height: 30vh;
}

.section {
    padding: 30px 0px;
}

.responsive-p {
    line-height: 1.6em;
}

.h1 {
    font-size: 2em;
    margin: 10px 0;
    letter-spacing: 2.5px;
}

.txt-center {
    text-align: center;
}

.about-us .h1 {
    margin-top: 0;
    text-transform: uppercase;
}

@media (max-width:767px) {
    .responsive-p {
        font-size: 18px;
        text-align: center;
    }
}

@media (min-width:768px) {
    .container {
        width: 780px;
    }
    .responsive-p {
        font-size: 20px;
    }
}

@media (min-width:992px) {
    .container {
        width: 1000px;
    }
    .responsive-p {
        font-size: 22px;
    }
}

@media (min-width:1200px) {
    .container {
        width: 1200px;
    }
    .responsive-p {
        font-size: 24px;
    }
}


/* travel destinations */

.dest-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(275px, 1fr));
    grid-gap: 2rem;
    margin: 2rem;
}

.card {
    height: 215px;
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25);
    display: grid;
    grid-template-rows: 1fr 1fr;
    transition: 0.8s cubic-bezier(0.2, 0.8, 0.2, 1);
}

.class1 {
    color: white;
    font-size: 24px;
    margin: 20px 0 0 20px;
    text-decoration: none;
}

.class2 {
    color: white;
    font-weight: 400;
    font-size: 16px;
    align-self: end;
    margin: 0 0 20px 20px;
    letter-spacing: 0.5px;
    text-decoration: none;
}

.image {
    position: absolute;
    top: 0;
    height: 110%;
    width: 100%;
    z-index: -1;
    transition: 0.8s cubic-bezier(0.2, 0.8, 0.2, 1);
}

.card:hover {
    transform: scale(1.035, 1.035);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.5);
}

.card:hover img {
    transform: translateY(-10px);
}

.second-button {
    margin-top: 50px;
    margin-bottom: 50px;
}


/* trip advisor */

form {
    min-height: 12vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

form input {
    padding: 0.5rem;
    font-size: 2rem;
    border-color: #274574;
    font-family: 'Montserrat', sans-serif;
}

.form {
    padding: 50px;
    background-image: linear-gradient(-225deg, #FFE29F 0%, #FFA99F 48%, #FF719A 100%);
}

form {
    min-height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

form input,
form button {
    padding: 0.5rem;
    font-size: 2rem;
    border: none;
    background-color: white;
}

form button {
    color: black;
    background: white;
    cursor: pointer;
    transition: all 0.3s ease;
}

form button:hover {
    background: black;
    color: white;
}